.headerNav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-grow: 1;
  padding: 0 0 0 24px;

  .headerNavDivider {
    width: 1px;
    height: 80%;
    background: linear-gradient(transparent 5%, #252223 6%, #C7B88D, #252223 94%, transparent 95%);
    margin: 0 24px;
  }
  
  .headerNavSection {
    align-items: center;
    display: flex;
    height: 100%;

    .headerNavButton {
      background: transparent;
      border: 0;
      color: #CDBE91;
      cursor: pointer;
      font-size: 1.1em;
      font-family: 'Beaufort';
      font-weight: bold;
      height: 100%;
      padding: 0 22px;
      text-transform: uppercase;
      transition: all .2s ease-in-out;
      position: relative;
      overflow: hidden;

      &:before {
        content: '';
        transition: all .2s ease-in-out;
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        background: linear-gradient(transparent 50%, rgba(255, 244, 183, 0.2));
      }
      
      &:hover, &.selected {
        color: #F0E6D2;
        &:before {
          opacity: 1;
        }
      }

      > * {
        pointer-events: none;
      }

      .hoverableGlow {
        width: 80px;
        height: 40px;
        position: absolute;
        bottom: 0px;
        transform: translateX(-50%);
        transition: opacity .2s;
        pointer-events: none;
        
        &:before {
          left: 0;
          content: '';
          position: absolute;
          bottom: 0;
          height: 1px;
          width: 100%;
          background: linear-gradient(to left, transparent, #D4C9B8, transparent);
        }
        
        &:after {
          left: 0;
          content: '';
          position: absolute;
          bottom: 1px;
          height: 25px;
          width: 100%;
          background: radial-gradient(at center bottom, #d4c9b844 0%, transparent 50%);
        }
      }
      
      .selectedTriangle {
        position: absolute;
        top: -1px;
        left: 30%;
        width: 0; 
        height: 0;

        > div {
          &:after {
            content: '';
            position: absolute;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;        
            border-top: 8px solid #88672C;
            z-index: 2;
            left: 12px;
          }
          
          &:before {
            content: '';
            position: absolute;
            left: 16px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;        
            border-top: 4px solid #010A13;
            z-index: 3;
          }

          > span {
            &:after {
              content: '';
              position: absolute;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;        
              border-top: 20px solid #93702E;
            }
            
            &:before {
              content: '';
              position: absolute;
              left: 5px;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;        
              border-top: 15px solid #010A13;
              z-index: 1;
            }
          }
        }
      }
    }
  }

}