.mainView {
  flex-grow: 1;
  z-index: 1;
  position: relative;

  .newChampContainer {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-top: 56px;
    padding-right: 56px;
  }
}