.userData {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 4px 16px 4px 12px;

  .userName {
    color: #F0E6D2;
    font-weight: bold;
    font-size: 1.15em;
  }

  .userStatus {
    align-items: center;
    display: flex;
    margin-top: 4px;

    .userStatusIndicator {
      border: 3px solid #66F8A0;
      background-color: #09A646;
      border-radius: 100%;
      width: 8px;
      height: 8px;
    }
    
    .userStatusText {
      color: #09A646;
      margin-left: 4px;
    }
  }

  .notifications {
    color: #C8AA6E;
  }
}