.helperNav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 4px 8px;

  .helperNavButton {
    background-color: transparent;
    border: 0;
    color: #A09B8C;
    cursor: pointer;

    &:hover {
      color: #EDE3CF;
    }
  }
}